@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
  --color-bg-light: #f9fafb;
  --color-bg-dark: #111827;
}

*{
  transition: background-color 0.3s, color 0.3s;
  font-family: "Josefin Sans", sans-serif;
}


.translate{
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.hideScrol::-webkit-scrollbar{
  width: 0;
}
@media (max-width: 545px) {
  .reduce{
    overflow: auto;
    background: #171823;
  }
  .container{
    max-width: unset;
    width: 96%;
    height: 90%;
  }
}
@media (max-width: 545px) {
  .reducefont{
    font-size: 11px;
  }
}